
body {
	color:#6a6a6a;
	font-family: Open sans;	font-size: 17px;
}

.dj-image-hover {
	color:#6a6a6a;
}

.container-fluid {
		max-width: 1000px;
	}

	#jm-top-bar,
	#jm-top,
	#jm-bar,
	#jm-header,
	#jm-top,
	#jm-breadcrumbs-fontswitcher,
	#jm-main,
	#jm-bottom,
	#jm-footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	

			.lcr.scheme3 #jm-content {
	    margin-right: 25.531914893617% !important; 
	    margin-left: -127.65957446809% !important;
	}
	.lrc.scheme3 #jm-content,
	.lrc.scheme2 #jm-content,
	.lcr.scheme2.noright #jm-content {
		margin-left: 2.1276595744681%;
	}
	

@media (min-width: 1200px) {	
							.lcr.scheme3 #jm-content {
		    margin-right: 25.641025641026% !important; 
		    margin-left: -128.20512820513% !important;
		}
		.lrc.scheme3 #jm-content,
		.lrc.scheme2 #jm-content,
		.lcr.scheme2.noright #jm-content {
			margin-left: 2.5641025641026%;
		}
				
	}	
@media (min-width: 768px) and (max-width: 979px) {
							.lcr.scheme3 #jm-content {
		    margin-right: 25.690607734807% !important; 
		    margin-left: -128.45303867403% !important;
		}
		.lrc.scheme3 #jm-content,
		.lrc.scheme2 #jm-content,
		.lcr.scheme2.noright #jm-content {
			margin-left: 2.7624309392265%;
		}
				
		
}
	

.jm-module h3.jm-title {
	font-family: roboto slab;	font-size: 34px;
}

.dj-main li a.dj-up_a {
	font-family: Oswald;	font-size: 18px;
}

.page-header h2,
h2.item-title,
.tag-category h2 {
	font-family: roboto condensed;	font-size: 40px;
}

